/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.fa-solid.fa-check{
  color: #0061ff;
}

.button-blue{
  background-color: #0061ff;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}

a{
  text-decoration: none;
}
.button-bordered{  
  cursor: pointer;
  border: 1px solid #b1b1b1;
  color: #454545 ;
  text-align: center;
}

.button-bordered:hover{
  box-shadow: 1px 1px 2px #454545;
}

.button-blue:hover{
  box-shadow: 0 1px 5px lightgrey;
  background-color: #0062ffb0;
  border-bottom: none;
}
/* General */
/* Utility */

.debug{
  border: 2px solid black;
  background-color: rgba(180, 20, 20, 0.2);
}

.container{
  width: 55%;
  margin: 0 auto;
}

/* Utility */
/* Header */
header{
  background-color: white;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  margin-bottom: 100px;
}

.page-header{
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 10px;
}

header .menu-container{
  width: 100%;
}

header ul{
  list-style: none;
}

.left{
  float: left;
}
.right{
  float: right;
}

header ul li {
  display: inline;
}

header ul li a{
  color:#343434;
  margin: 0 20px;
  padding-bottom: 28px;
}

header .logo{
  margin: 0 40px 0 20px;
  line-height: 15px;
}

header ul li a:hover{
  border-bottom: 2px solid #343434;
}

/* Jumbo */


.jumbotron{
  margin-top: 80px;
  background-color:#b4d0e7;
  max-height:750px
}

.jumbo-container{
  position: relative;
  width: 63%;
  margin: 0 auto;
}

.jumbotron h1{
  padding: 70px 0 70px 0px;
  font-size: 4vw;
  font-weight: 800;
  
}

.jumbotron .col p{
  max-width: 30%;
  padding-bottom: 30px;
  color: #343434;
}

.jumbotron .col a{
  max-width: 30%;
}

.jumbotron .col{
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}

.jumbotron .col img{
  max-width: 70%;
  min-width: 500px;
  position: absolute;
  top: 47.5% ;
  right: 0 ;
}

.jumbo-container .button-blue{
  width: fit-content;
  padding: 0.76em 1em;
  margin-bottom: 35px ;
  color: white;
}

.jumbotron a{
 color: black;
}

.jumbotron .anchor{
  margin: 40px 0 20px 0;
  font-size: 50px;
  font-weight: 800;
}

/* Jumbo */

/* Header */
/* Main */

/* Offers Section */

main label{
  display: flex;
  justify-content: center;
}

main  h2{
  padding: 150px 0 60px 20px;
  font-size: 2vw;
}
 
main .check{
  margin-left: 20px;
}
 
main .col-container{
  display: flex;
  border: 1px;
  
}

main .col.front { 
  max-width: 30%;
  margin: 50px 20px;
  border: 1px solid #b1b1b1 ;
}

main .col.front h6{
  text-align: center;
  font-weight: 400;
  font-size: 0.9em;
  border-bottom: 1px solid #b1b1b1;
  padding: 8px 0;
  padding-left: 0px;
}

main .col.front h4, li{
 padding: 0 30px;
}
main .col.front span{
  padding: 0 30px;
}
main .col.front h4{
  font-size: 1.3vw;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 15px;
}

main .col.front span{
 color: #454545;
 font-size: 0.9em;
}

main .col.front ul{
  list-style: none ;
  margin-top: 40px;
}

main .col.front ul li{
  padding-bottom: 18px;
  font-size: 0.9em;
}

main .col.front .button-blue{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin: 50px 30px 30px ;
}

main .col.front a{
  text-decoration: none;
  color: blue;
  font-size: 0.9em;
}

main .col.front a:hover{
  text-decoration: underline;
}

main .col.front .line{
  margin-top: 40px;
  border-bottom: 1px solid #b1b1b1;
  width: 17%;
  margin-left: 30px;
}

main .col.front .main-point{
  font-weight: 600;
  margin: 40px 0 0;
  border: 0px;
  text-align: left;
  padding-left: 30px;
}

main .col.front .diff-span{
  padding: 0 0 0 30px;
}

main .row.front {
  border: 1px solid #b1b1b1 ;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  max-width: calc(100% - 40px);
  margin: 0 0 150px 20px;
  
}

main .row.front h6{
  text-align: center;
  font-weight: 400;
  font-size: 0.9em;
  border-bottom: 1px solid #b1b1b1;
  padding: 8px 0;
  padding-left: 0px;
}

main .row.front h4{
  font-size: 1.3vw;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 15px;
}

main .row.front .button-blue{
  width: fit-content;
  position: absolute;
  right: 30px;
  bottom: 125px;
}

main .row.front h5{
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 50px;
}

main .row.front span{
  font-size: 0.9em;
  padding-bottom: 30px;
  color: #454545;
}

main .row.front  h5, h4{
  padding-left: 30px;
}
main .row.front span{
  padding-left: 30px;
}

/* Offers Section */

/* Partner Section */

main .partner{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

main .partner .col-img {
 width: 60%;
}

main .partner .col-img img{
  max-width: 100%
}

main .partner .col-text h4{
  font-size: 1.3vw;
  font-weight: 600;
  padding: 50px 0 20px 0;
}

main .partner .col-text{
  width: 30%;
}

main .partner .col-text span {
  font-size: 1em;
  color: #454545;
  }

  main .partner .col-text .button-bordered{  
    width: fit-content;
    padding: 10px 10px;
    margin-top: 30px;
  }

/* Partner Section */

/* Operation Section */

main .operation .row{
  display: flex;
  flex-flow:wrap;
}

main .operation h2{
  font-weight: 600;
}

main .row .col{
  width: calc((100% /3 ) - 62px);
  margin-right: 42px;
}

main .row .col:first-of-type{
  margin-left: 20px;
}
main .row .col:nth-child(4) {
  margin-left: 20px;
}

main .row .col img{
  width: 100%
}

main .row .col h4{
  font-size: 1.3vw;
  font-weight: 600;
  padding: 0 0 20px 0;
}

main .row .col p{
  font-size: 1em;
  color: #454545;
}
/* Operation Section */

/* Dropbox Business */

main .business .img-container{
  width: 100%;
  margin-top: 150px;
  display: flex;
}

main .business h2{
    width: 60%;
    margin-top: 40px;
}

 main .business a{
    color: blue;
    padding-left: 30px;
}

main .business a:hover{
    text-decoration: underline;
}

main .business .col{
  width: calc(100% / 6);
  height: 320px;
}

main .business .col.big{
  width: calc(100% / 3) ;
  height: 640px;
}
main .business .col .box{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .business .col .box svg{
  width: 61%;
  text-align: center;
  fill: white;
 }

  main .business .col.big .box{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 50px 0 25px 50px;
    height: auto;
}

main .business .col.big .box svg{
  fill: black;
  width: 45%;
}

main .business .col.big .line{
   
  border-bottom: 1px solid #b1b1b1;
  width: 20%;
  margin-left: 50px;
  margin-bottom: 50px;
}

main .business .col.big p{
  font-size: 1em;
  padding: 0 50px;
  color: #454545;
  margin-bottom: 50px;
}

main .business .col.big span{
  font-size: 1em;
  padding-left: 50px;
  color: #454545;
  margin-top: 20px;
}

main .business .small-left .box:nth-child(1){
  background-color: #a2d39b;
  border-top: 15px solid #d1e9cd ;
  border-right: 15px solid #d1e9cd ;
  border-bottom: 15px solid #d1e9cd ;
}

main .business .small-left .box:nth-child(2){
  background-color: #0093ce;
}

main .business .small-left2 .box:nth-child(1){
  background-color: #61082b;
}

main .business .small-left2 .box:nth-child(2){
  background-color: #ff1c1c;
}

main .col.big{
  background-color: #f5f5f5;
}

main .business .small-right .box:nth-child(1){
  background-color: #d5001f;
}

main .business .small-right .box:nth-child(2){
  background-color: #0d2481;
}

main .business .small-right2 .box:nth-child(1){
  background-color: #b4d0e7;
}

main .business .small-right2 .box:nth-child(2){
  background-color: #ffd830;
}
/* Dropbox Business */

/* Main */

/* Free try */

main .free-try{
  background-color:#b4d0e7 ;
}

main .free{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 130px;
}

main .free-try h2{
  padding-top: unset;
  padding-bottom: unset;
  color: #61082b;
  width: 60%;
  margin: 130px 50px 130px 0;
  margin-top: 130px;
  margin-right: 50px;
}

main .free .button-bordered{
  border: 0px;
  background-color: white;
  margin-bottom: 40px;
  padding: 10px 20px;
}
/* Free try */

/* FAQ */
main .faq{
  padding-bottom: 150px;
}

main .faq h2{
  padding: unset;
  padding: 150px 0 70px 0 ;
}

main .faq .accordion{
  background-color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 40px 0px;
  outline: none;
  border: none;
  font-size: 1em;
  font-weight: 600;
  border-top: 0.5px solid #454545;
}
main .faq .accordion:nth-of-type(3){
  border-bottom: 0.5px solid #454545;
}
main .faq .panel{
  padding: 0 20px;
  background-color: white;
  display: none;
  overflow: hidden;
}

main .faq .accordion:hover {
  background-color: rgb(235, 235, 235);
}

main .faq .accordion:enabled .panel {
  display: block;
}
/* FAQ */

/* Footer */

footer{
  background-color: #000000;
  padding: 100px 0 40px 0;
}

 footer .top{
  width: 66%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }

 footer .top h5{
  color: white;
  font-size: 22px;
  padding-bottom: 20px;
 }

 footer .top ul li{
  margin-bottom: 15px;
 }

 footer .top ul a{
  color: white;
 }

 footer .top ul a:hover{
  text-decoration: underline;
 }

footer .bottom{
  padding-top: 100px;
  width: 63%;
  margin: 0 auto;
}

footer .bottom .line{
  border: 1px solid #858282;
  margin-bottom: 40px;
  width: 10%;
}

footer .bottom a{
  color: #858282;
}


/* Footer */

/* Media query */

/* Header */
  
  @media screen and (max-width: 1600px) {
  header ul li a{
    font-size: 14px;
    margin: 0 1px;
  }
    .page-header .menu-container {
     justify-content: center;
  }
  .page-header .logo{
    margin: 0 10px 0 5px;
   }
  header ul li a:hover{
    border-bottom: 2px solid #343434;
  }
  }
  
  
  @media screen and (max-width: 1300px) {
    header ul li a{
      font-size: 1vw ;
      margin: 0 1px;
    }
      .page-header .menu-container {
       justify-content: center;
    }
    .page-header .logo{
      margin: 0 10px 0 5px;
     }
    header ul li a:hover{
      border-bottom: 2px solid #343434;
    }
    }

  @media screen and (max-width: 1080px){
    header .checkbtn{
     display: block;
    }
  
    header ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: #2c3e50;
      top: 80px;
      left: 0;
      transition: all .5s;
      text-align: center;
      display: block;
    }

  header ul li{
    line-height: 6;
  }
  header ul li a{
    padding: 0px 50px;
    text-align: center;
    display: block;
    color: white;
    font-size: 16px;
  }
  header ul li a:hover{
    border-bottom: 2px solid white ;
  }
  .button-blue{
   background-color:#2c3e50;
  }
  .button-blue:hover{
    box-shadow: 0 1px 5px #2c3e50;
    background-color: #2c3e50;
    border-bottom: 2px solid white ;
  }

  header .logo{
    position: relative;
    left: calc(50% - 60px);
  }
  }

  @media screen and (max-width: 850px){
    header ul li a{
      padding: 0 100px;
      text-align: center;
      display: block;
      color: white;
      font-size: 13px;
    }}

    @media screen and (max-width: 850px){
      header ul li a{
        padding: 0 50px;
        text-align: center;
        display: block;
        color: white;
        font-size: 12px;
      }}
/* Header */

/* JUMBO */
@media screen and (max-width: 1200px) {
  .jumbotron .col img{
    display: none;
}
.jumbotron .col p,a{
  max-width: 100%;
  text-align: center;
}
.jumbotron .col{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between
 }
}
/* JUMBO */
/* Media query */